nav {
    color: $elab-black;
    z-index: 999 !important;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.1);
    // height: 80px;
    & .navbar-brand{
        margin: 0;
        padding: 0;
        width: 12rem;
        @include rwd(
          width,
          9rem,
          (
            $md: 10rem,
            $lg: 11rem,
            $xl: 12rem,
            $xxl: 12rem,
          )
        );
    }
   
    & li.nav-item a.nav-link{
        color: $primary-color !important;
        font-weight: 500;
        border-bottom: 4px solid #fff!important; 
        border-top: 4px solid #fff!important;
        &:hover {
          border-bottom: 4px solid $elab-yellow !important;
        }
        &.active {
            border-bottom: 4px solid $elab-yellow !important;
        }
    }
    & li.nav-item button.nav-link{
      background-color: #fff;
      color: $primary-color !important;
      font-weight: 500;
      border-bottom: 4px solid #fff!important; 
      border-top: 4px solid #fff!important;
      border-left: 0px ;
      border-right: 0px ;
      &:hover {
        border-bottom: 4px solid $elab-yellow !important;
      }
      &.active {
          border-bottom: 4px solid $elab-yellow !important;
      }
  }
    & li.nav-item {
        color: $primary-color;
        font-weight: 500;
        // &:hover {
        //   color: $primary-color !important;
        // }
        // &.active {
        //   color: $primary-color !important;
        // }
    }
    & ul {
      @include rwd(
                align-items,
                start,
                (
                  $md: start,
                  $lg: center,
                  $xl: center,
                  $xxl: center,
                )
              );
    }
    .link {   
      &:hover {
        color: $elab-black;
      }
    }
    .dropdown:hover>.dropdown-menu {
      display: block;
      border: 0;
      padding: 10px;
      // margin-left: -250px;
      @include rwd(
        margin-left,
        0px, 
        (
          $md: 0px,
          $lg: -250px,
          $xl: -250px,
          $xxl: -250px,
        )
      );
      &.programs{
        @include rwd(
          margin-left,
          0px, 
          (
            $md: 0px,
            $lg: -20px,
            $xl: -20px,
            $xxl: -20px,
          )
        );
      }
      &.services{
        @include rwd(
          margin-left,
          0px, 
          (
            $md: 0px,
            $lg: -130px,
            $xl: -130px,
            $xxl: -130px,
          )
        );
      }
      &.resources{
        @include rwd(
          margin-left,
          0px, 
          (
            $md: 0px,
            $lg: -230px,
            $xl: -230px,
            $xxl: -230px,
          )
        );
      }
      @include rwd(
        min-width,
        10rem, 
        (
          $md: 10rem,
          $lg: 35rem,
          $xl: 35rem,
          $xxl: 35rem,
        )
      );
    }
    .navi {
      color: $elab-black;
      &__dropdown {
        box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
        &--option {
          background: transparent;
          border-left: 5px solid #fff;
           &:hover {
            background: #FFFFFF;
            box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
            border-radius: 4px;
            border-left: 5px solid $elab-yellow;
           }
        }
        &--subhead {
          font-size: 0.9rem !important;  
          color: #333;      
        }
        &--subtext {
          font-size: 0.8rem !important;
          font-weight: 300;
          color: #4F4F4F;

        }
      }
      &--button {
        font-weight: 500;
        @include rwd(
          width,
          100%,
          (
            $md: auto,
            $lg: auto,
            $xl: auto,
            $xxl: auto,
          )
        );
        &:hover {
          color: #fff;
        }
      }
    }

    
}


//************************** ANIMATED NAV COLLAPSE ICON **************************//
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.animated-icon1 span {
  background: $primary-color;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}