// FOOTER STARTS

.custom .fa-circle:before {
  border-radius: 50%;
  border: 2px solid $elab-yellow;
  background: $elab-yellow;
  color: $elab-yellow;
  cursor: pointer;
}
.custom-b .fa-circle:before {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.39);
  background: $elab-black;
  color: transparent;
}
.custom-c .fa-circle:before {
  border-radius: 50%;
  // border: 2px solid transparent;
  background: #FFCC0526;
  color: transparent;
  cursor: pointer;
}
// .custom.fa-stack:hover .fa-circle:before {
//   background: $elab-black !important;
// }
.custom-c.fa-stack:hover .fa-circle:before {
  background: $elab-yellow!important;
}
// .custom-c .fa-pen-to-square,
// .custom-c .fa-trash {
//   color: red;
//   &:hover {
//     color: #fff;
//   }
// }


.custom .fa-twitter {
  color: $elab-black !important;
}
.custom .fa-facebook-f {
  color: $elab-black !important;
}
.custom .fa-linkedin-in {
  color: $elab-black !important;
}
.custom .fa-instagram {
  color: $elab-black !important;
}
.custom .fa-arrow-left{
  color: $elab-black !important;
} 


.custom-c  {
  &--icon {
    color: $elab-yellow !important;
    &:hover {
      color: $elab-black !important;
    }
  }
}
.fa-stack:hover .fa-circle:before {
  background: $elab-yellow !important;
  border: 2px solid $elab-yellow;
}
.custom.fa-stack:hover .fa-circle:before {
  background: transparent !important;
  color: transparent !important;
  border: 2px solid $elab-yellow;
}
.custom-b .fa-stack:hover .fa-circle:before {
  background: $elab-yellow !important;
  color: $elab-yellow !important;
  border: 2px solid $elab-yellow;
}
.custom-b .fa-instagram {
  color: #fff !important;
  &:hover {
    color: $elab-black !important;
  }
}
.custom-b .fa-facebook-f{
  color: #fff !important;
  &:hover {
    color: $elab-black !important;
  }
}
.custom-b .fa-linkedin-in {
  color: #fff !important;
  &:hover {
    color: $elab-black !important;
  }
}
.custom-b .fa-arrow-left{
  color: #fff !important;
  &:hover {
    color: $elab-black !important;
  }
} 

// FOOTER ENDS



// HERO-TWO STARTS
.heroTwo {
    color: #fff;
    & .overlay {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(6, 0, 22, 0.55);
    }
    & .overlay__two {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      // background: linear-gradient(270.14deg, #ffffff00 22.67%, #333333b6 72.79%);
      // background-blend-mode: multiply;
      border-radius: 5px;
      background: linear-gradient(270.14deg, #ffffff00 0.24%, #0c0c0cf1 90.88%);
      background-blend-mode: multiply; 
    }
    &__button {
       & .link {     
            color:#333333;
            &:hover {
              color: #fff;
            }
          }
    }
    &--title {
      @include rwd(
                width,
                95%,
                (
                  $md: 90%,
                  $lg: 80%,
                  $xl: 70%,
                  $xxl: 90%,
                )
              );
    }
    &__text {
        margin: 0;
        position: absolute;
        top: 58.5%;
        // left: 50%;
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        @include rwd(
                width,
                90%,
                (
                  $md: 90%,
                  $lg: 75%,
                  $xl: 60%,
                  $xxl: 50%,
                )
              );
          &__container {
            @include rwd(
                width,
                90%,
                (
                  $md: 90%,
                  $lg: 80%,
                  $xl: 70%,
                  $xxl: 70%,
                )
              );
          
          }
    }
    // & h1, & h1 p {
    //  width: 100%;
    // }
    & p {
        color: #fff;
        @include rwd(
            font-size,
            1rem,
            (
              $md: 1rem,
              $lg: 1rem,
              $xl: 1.1rem,
              $xxl: 1.2rem,
            )
          );
          @include rwd(
                width,
                95%,
                (
                  $md: 85%,
                  $lg: 75%,
                  $xl: 67%,
                  $xxl: 63%,
                )
              );
          
    }
}
// HERO-TWO ENDS


// PARTNERSHIP STARTS
.partnership {
  &__left {
    background-color: $elab-blue;
    &--text {
      color: #fff;
      @include rwd(
        width,
        95%,
        (
          $md: 90%,
          $lg: 80%,
          $xl: 75%,
          $xxl: 75%,
        )
      );
    }
  }
  &--image {
    @include rwd(
      display,
      none,
      (
        $md: none,
        $lg: block,
        $xl: block,
        $xxl: block,
      )
    );
  }
}
// PARTNERSHIP ENDS


// PADDED CARD  STARTS
.paddedcard {
  color: $elab-black;
  transition: ease-in-out 300ms;

  &:hover {
    box-shadow: 0px 15px 50px 0px #4d4d4d26;
    margin-top: -3px;
    color: $elab-black;
  }
  &__link {
    color: $elab-black;
    box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
    border-radius: 5px;
  }
  box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.2);
  border-radius: 5px;
}
// PADDED CARD ENDS


// DASHBOARD STARTS
.dashnav {
  width: 95%;
  margin: auto;
  background-color: #fff;
  position: relative;
  &__navi {
    background-color: #fff;
    width: 100%;
    margin:auto;
  }
  &__container {
    width: 95%;
    margin:auto;
  }
  &__logout {
    &:hover {
      color: $elab-yellow;
      cursor: pointer;
    }
    &--icon {
      color: $elab-yellow;
    }
  }
}
// DASHBOARD ENDS


// ERROR 404 STARTS
.error {
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include rwd(
      width,
      95%,
      (
        $md: 85%,
        $lg: 75%,
        $xl: 70%,
        $xxl: 70%,
      )
    );
  }
}
// ERROR 404 ENDS


// EMPTY STATE STARTS
.empty {
  &__header {
    color: $elab-black;
    @include rwd(
      width,
      95%,
      (
        $md: 70%,
        $lg: 65%,
        $xl: 60%,
        $xxl: 50%,
      )
    );
  }
  &__card {
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(122, 122, 122, 0.15);
    border-radius: 10px;
    @include rwd(
      width,
      95%,
      (
        $md: 80%,
        $lg: 75%,
        $xl: 70%,
        $xxl: 70%,
      )
    );
  }
}
// EMPTY STATE ENDS


// TAGS INPUT STARTS
.tags{
  &__item{
    background-color: $elab-yellow;
    color: $elab-black;
    list-style-type: none;
    display: inline-block;
    border-radius: 50px;
    &--close {
      color: $elab-black;
      &:hover {
        color: red;
      }
    }
  }
  &--input {
     border: 0;
  }
}
// TAGS INPUT ENDS
