// TOP BLOG CARD STARTS
.topblog {
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    color: $elab-black !important;
    transition: ease-in-out 0.5s;
    &--header{
        color: $elab-black;
    }
    &--text{
        color: $elab-black;
    }
    &__authorrow {
        bottom: 0;
        width: 100%;
        // @include rwd(
        //     position,
        //     relative,
        //     (
        //       $md: absolute,
        //       $lg: absolute,
        //       $xl: absolute,
        //       $xxl: absolute,
        //     )
        //   );

    }
        &:hover {
            box-shadow: 0px 15px 50px 0px #4d4d4d26;
            margin-top: -3px;
            color: $elab-black;
        }
}
// TOP BLOG CARD ENDS


// BLOG STARTS
.blog {
    &--icon {
        color: $elab-yellow;
    }
}
// BLOG ENDS


// BLOG DETAILS PAGE STARTS
.blogdetails {   
    &__hero {
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            background-color: rgba(6, 0, 22, 0);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-blend-mode: multiply;
            border-radius: 5px;
            z-index: 1;
            @supports (mix-blend-mode: color) {
              opacity: 1;
              mix-blend-mode: color;
              mix-blend-mode: hard-light;
              // mix-blend-mode: hue;
          }
        }
        &--back {
            &:hover {
                color: $elab-yellow;
                cursor:pointer;
            }
        }
    }
    &__card {
          z-index: 9999;
          background-color: #FFFFFF;
          box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
          border-radius: 5px;  
          top: -80px;
          position: relative;
          z-index: 9 !important;  
    }
    &__content {
        @include rwd(
            width,
            95%,
            (
              $md: 90%,
              $lg: 85%,
              $xl: 80%,
              $xxl: 80%,
            )
          );
    }
}

// BLOG DETAILS PAGE ENDS


// PLAYBOOK STARTS
.playbook {
    color: $elab-black;
    &__nav {
        &--menu{
            color: #858585;
            border-bottom: 4px solid #fff;
        }
    }
    &__active {
        color: $elab-black;
        border-bottom: 4px solid $elab-yellow;
        border-radius: 0;
    }
}

// PLAYBOOK ENDS

// FAQ STARTS
.faq {
    &--button {
        &:focus {
            background-color: $elab-yellow;
            color: $elab-black;
        }
        &:hover {
            background-color: $elab-yellow-bg;
            color: $elab-black;
        }
        &::after {
            color: $elab-black !important;
        }
    }
    &__card {
        box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.2);
        border-radius: 5px;
    }
}

// FAQ ENDS

