// SIGNUP
.signup{
    &__card {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(122, 122, 122, 0.15);
        border-radius: 10px;
        color: #828282;
        @include rwd(
            width,
            95%,
            (
              $md: 75%,
              $lg: 65%,
              $xl: 55%,
              $xxl: 40%, 
            )
          );
          &--input {
            border: 1px solid #828282;
            border-radius: 5px;
            width: 100%;
          }
          & a{
            color: $elab-black;
            &:hover {
              color: $elab-yellow;
            }
          }
          & label {
            color: $elab-black;
          }
          &--error {
            color: red;
            text-align: center;
          }
          &--button {
            @include rwd(
            width,
            100%,
            (
              $md: 100%,
              $lg: 65%,
              $xl: 55%,
              $xxl: 50%, 
            )
            );
            &:hover{
              color: #fff !important;
            }
          }
    }
    &__verify{
      &--failed {
        color: rgb(218, 3, 3);
      }
      &--success {
        color: rgb(4, 207, 95);
      }
    }
}

