// SIGNUP
.signup{
    &__card {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(122, 122, 122, 0.15);
        border-radius: 10px;
        color: #828282;
        @include rwd(
            width,
            95%,
            (
              $md: 75%,
              $lg: 65%,
              $xl: 60%,
              $xxl: 55%,
            )
          );
          &--input {
            border: 1px solid #828282;
            border-radius: 5px;
          }
    }
}

