// DASHBOARD 


.admin-dashboard {
    .sidebar {
        margin-top: 70px;
      &__sidebar-container {
        z-index: 99;
        margin: 0;
        padding: 0;
        width: 230px;
        background: #f1f1f1;        
        position: fixed;
        height: 100%;
        overflow-y: auto;
        & .sidebar-container__logo img {
          margin: auto;
          @include rwd(
            width,
            70%,
            (
              $md: 30%,
              $lg: 100%,
              $xl: 100%,
              $xxl: 100%,
            )
          );
        }
        & .top-bar-container {
          width: 80%;
          margin: auto;
        }
        & a {
          display: block;
          color: #828282;
          padding: 16px;
          text-decoration: none;
          border-radius: 5px;
          font-weight: 500;
        }
        & a.active {
          background-color: $elab-yellow;
          color: $elab-black;
          font-weight: 600;
        }
        & a:hover:not(.active) {
          background-color: $elab-yellow;
          color: $elab-black;
          font-weight: 600;
        }
      }
    }
  
 
    table {
      width: 100%;
      & th,
      td {
        padding-top: 5px;
        padding-bottom: 5px;
        // padding-left: 10px;
        // padding-right: 10px;
      }
    }
  
    @media screen and (max-width: 768px) {
      .sidebar {
        &__sidebar-container {
          width: 100%;
          height: auto;
          position: relative;
        }
        & a {
          float: left;
        }
      }

    }
  
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }
  }
  .main{
      background-color: #f1f1f1;
      min-height: 100vh;
      &__container {
        width: 95%;
        margin: auto; 
      }
  }
  .content {   
      @include rwd(
        margin-left,
        0,
        (
          $md: 0,
          $lg:270px,
          $xl: 270px,
          $xxl: 270px,
        )
      );
      color: $elab-black;
      background-color: #f1f1f1;
     &__card {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(122, 122, 122, 0.15);
        border-radius: 10px;
        &--input {
          border: 0.5px solid #E0E0E0;
          border-radius: 5px;
          width: 400px;
        }
        &--icon {
          margin-left: -40px;
          color: $elab-yellow;
          cursor: pointer;
        }
        &--row {
          width: 100%;
          &:hover{
            cursor: pointer;
            background-color: rgba(255, 204, 3, 0.3);;
          }
        }
        &--active {
          background: #FFCC03;
          border-radius: 5px;
        }
        &--expired {
          background: #E0E0E0;
          border-radius: 5px;
        }
     }
     &__form {
      color: $elab-black; 
        &--input {
            border: 1px solid #828282;
            border-radius: 5px;
            @include rwd(
                width,
                95%,
                (
                  $md: 80%,
                  $lg: 80%,
                  $xl: 70%,
                  $xxl: 70%,
                )
              );
        }
        &--inputr {
          border: 1px solid #828282;
          border-radius: 5px;

      }
        &--row {
          @include rwd(
            width,
            95%,
            (
              $md: 80%,
              $lg: 80%,
              $xl: 70%,
              $xxl: 70%,
            )
          );
        }
        &--wysiwyg {
          margin-left: -9px;
            @include rwd(
                width,
                95%,
                (
                  $md: 80%,
                  $lg: 80%,
                  $xl: 71%,
                  $xxl: 71%,
                )
              );
        }
        &--editor {
          height: 300px !important;
          width: 100%;
          padding: 10px;
          border: 1px solid #828282;
          border-radius: 5px;
           
        }
    }
    &--headtext {
     color: #4F4F4F;
      font-weight: 700;
    }
    &--subtext {
     color: #4F4F4F;
     font-weight: 400;
     font-size: 1.2rem !important;
    }
    &__details {
      @include rwd(
        width,
        95%,
        (
          $md: 80%,
          $lg: 80%,
          $xl: 80%,
          $xxl: 80%,
        )
      );
    }
    &--published {
      background: #0965D359;
      border-radius: 5px;
    }
    &--saved {
      background: #FFCC0359;
      border-radius: 5px;
    }
  }
//   .admin-dashboard {
//     background-color: #f1f1f1;
//   }


// DASHBOARD NAVBAR STARTS
// .dashnav {
//     &__container {
//         width: 95%;
//         margin: auto;
//     }
// }
// DASHBOARD NAVBAR ENDS


// DASHBOARD SIDEBAR STARTS
.sidebar{
    &__link {
        &--icon {
            margin-right: 1rem;

        }
    }
}
.table {
    &__skeleton {
        color: gray;
    }
}
// DASHBOARD SIDEBAR ENDS