.vision {
    background-color: $elab-yellow-bg;
    &__card {      
        background-color: transparent;
        border: 0;
        &--icon {
            width: 6rem;
            margin: auto;
        }
    }
}
.values{
    background-color: $elab-black;
    color: #fff;
    &__header{
        @include rwd(
            width,
            100%,
            (
              $md: 80%,
              $lg: 70%,
              $xl: 60%,
              $xxl: 50%,
            )
          );
          &--title{
              color: $elab-yellow;
              font-weight: 700;
          }
    }
    &__card {
        &--icon {
            width: 4rem;
        }
    }
}
.team {
    background-color: $elab-yellow;
    color: $elab-black;
    &__header{
        @include rwd(
            width,
            100%,
            (
              $md: 80%,
              $lg: 70%,
              $xl: 60%,
              $xxl: 50%,
            )
          );
          &--title{
              color: $elab-black;
              font-weight: 700;
          }
    }
}
.timeline{
    &__tab{
        overflow-x: scroll;
        scrollbar-color: transparent transparent;
        @include rwd(
            justify-content,
            left,
            (
              $md: center,
              $lg: center,
              $xl: center,
              $xxl: center,
            )
          );
        // width: 100%;
        // @include rwd(
        //     width,
        //     100%,
        //     (
        //       $md: 100%,
        //       $lg: 70%,
        //       $xl: 50%,
        //       $xxl: 50%,
        //     )
        //   );
        &::-webkit-scrollbar {
           height: 1px;
           width: 100%;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px transparent; 
            border-radius: 0px;
            width: 100%;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent; 
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $elab-yellow; 
        }
        &--container{
            &.active{

                display: inline-block;
                vertical-align: top;
                padding-bottom: 10px;
                position: relative;
                text-align: center;
                padding: 0px 0px 20px;
                line-height: 24px;
                // min-width: 100px;
    
                &::before {
                    transform: translateX(-50%);
                    border-radius: 100%;
                    position: absolute;
                    background: $elab-yellow;
                    bottom: 10px;
                    height: 10px;
                    content: '';
                    width: 10px;
                    left: 50%;
                    bottom: 0%;
                    z-index: 10;
                  }
            }
        }
        &--button {
            // overflow-x: scroll;
            color: #828282;
            &.active {
                background-color: $elab-yellow;
                border-radius: 5px;
                color: $elab-black;
            }
        }
        &--horizontal {
            margin-top: -6px;
        }
    }
    &__card {
        box-shadow: 0px 2px 12px 0px #33333333;      
    }
    &__content {
        height: 450px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            @include rwd(
                width,
                3px,
                (
                  $md: 5px,
                  $lg: 7px,
                  $xl: 8px,
                  $xxl: 8px,
                )
              );
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px #828282; 
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: #bdbdbd; 
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $elab-yellow; 
        }
        &--details {
            @include rwd(
                width,
                100%,
                (
                  $md: 100%,
                  $lg: 90%,
                  $xl: 85%,
                  $xxl: 80%,
                )
              );
        }
    }
    &--logo {
        width: 7rem;
        padding: 10px 0;
    }
}
    